.fig-right {
    float: right;
    margin: 15px 0 10px 20px; 
}

.fig-left {
    float: left;
    margin: 15px 20px 10px 0;
}

.ul-indent-left {
    position: relative; 
    left: 30px;
}

.imgcenter {
    position: relative; 
    left: 15%;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    width: 60%;
}

.accordion {
    color: #8600b3;
    cursor: pointer;
    border: none;
    width: 100%;
}

.accordion:hover,
.accordion:active {
    background-color: rgb(233, 233, 237);
    filter: brightness(105%);
}

.accordion span::after {
    content: '  \25BC';
}

.activePanel {
    color:black;
}

.accordion:hover h3 {
    color: black;
}

.activePanel span::after {
    content: '  \25B2';
}

.panel {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-out;
}

#img-grenfell {
    width: 600px;
    aspect-ratio: 3/2;
    --base-width: 600px;
}

#img-durham {
    width: 450px;
    --base-width: 450px;
}

#img-dt-toronto {
    margin: 0 auto;
    display: block;
    height: 300px;
}

.caption-toronto {
    font-style: italic;
}

#img-CNedgewalk {
    width: 450px;
    --base-width: 450px;
}

#imgLD,
#potentialQuote {
    display: block;
    margin: auto;
    height: 400px;
    aspect-ratio: 1;
}

#about-update-txt {
    font-size: 0.85rem;
    text-align: center;
    font-style: italic;
}

@media screen and (max-width: 1025px){
    #img-grenfell {
        width: calc(var(--base-width) / 1.5);
    }
}

@media screen and (max-width: 770px){
    #img-grenfell {
        width: calc(var(--base-width) / 2);
    }

    #img-durham {
        width: calc(var(--base-width) / 1.5);
    }

    .caption-toronto {
        max-width: 225px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px){
    .fig-right {
        float: unset;
        margin: 0;
        padding-top: 15px;
    }

    #img-grenfell,
    #img-durham {
        margin: 0 auto;
        display: block;
    }

    .fig-left {
        float: unset;
        margin: 0;
        padding-top: 15px;
    }

    .ul-indent-left {
        position: unset;
    }

    #img-CNedgewalk{
        width: calc(var(--base-width) / 1.5);
    }

    #imgLD,
    #potentialQuote {
        height: 250px;
    }
}

@media screen and (max-width: 350px){
    #img-grenfell {
        width: calc(var(--base-width) / 2.5);
    }

    #img-durham {
        width: calc(var(--base-width) / 2);
    }
}