#AFbutton {
    padding: 5px 8px;
    display: block;
    border: 0px;
    line-height: 1.5;
    color: white;
    border-radius: 10px;
    background-color: #b30000;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#AFbutton:hover {
    background-color: #e60000;
    cursor: pointer;
}

#AFbutton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#AFpopup {
    visibility: hidden;
    text-align: center;
    margin: auto;
    z-index: 20;
    background:rgba(0,0,0,0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#AFvideo {
    display: inline-block;
    position: relative;
}

#AFvideo-wrapper {
    position: relative;
    width: max-content;
    margin: 0 auto;
}

#popupClose {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: serif;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -15px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    z-index: 3; 
}

#popupClose:hover {
    background-color: #ccc;
}

#AFvideo video {
    width: 800px;
    background-color: black;
}

#AFvideo > figcaption {
    color: white;
    font-size: 1rem;
    font-family: Helvetica, sans-serif;
    background-color: #121212;
    width: 90vw;
    padding: 5px;
    text-indent: 20px;
}

@media screen and (max-width: 850px) and (orientation: portrait){
    #AFvideo video {
        width: 90vw;
    }
}

@media screen and (max-width: 850px) and (orientation: landscape){
    #AFvideo video {
        width: unset;
        height: 70vh;
    }
}