.form-outer-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 3rem 16px;
    margin: 16px;
}

#form-inner-wrapper {
    align-self: center;
    z-index: 1;
    padding-bottom: 25px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#contact-form > div {
    display: flex;
    gap: 10px;
}

#contact-form input {
    flex: 1;
}

#phone-microcopy {
    font-size: 80%;
    margin: -5px 0 0 15px;
}

#contact-form > button {
    margin: 0 auto;
}

#submitbutton {
    margin-left: 20%;
}

#nameError, #emailError, #formError {
    margin-left: 10px;
    color: red;
}

img#victorian-border {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: invert(1);
}

@media screen and (max-width: 770px){
    .form-outer-wrapper {
        margin: 0;
    }

    #form-inner-wrapper {
        align-self: unset;
        padding-left: 7%;
        padding-right: 7%;
    }
}

@media screen and (max-width: 480px){
    #contact-form > div {
        flex-direction: column;
        gap: 5px;
    }
}