.modal {
    display: none;
    position: fixed;
    z-index: 30;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85); 
}

#lightbox-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 35px;
    font-weight: bold;
    font-family: serif;
    cursor: pointer;
}
  
.close:hover,
.close:focus,
.close:active {
    filter: invert(1);
}

.modal-content {
    width: 80%;
}

.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: all 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.previous:hover, .previous:active,
.next:hover, .next:active {
    background-color: rgba(0, 0, 0, 0.9);
    filter: invert(0.2);
}

.slide {
    display: none;
    margin: auto;
    text-align: center;
}

.image-slide {
    max-width: 100%;
    max-height: 90vh;
}