footer {
  background-color: var(--primary-purple);
  padding: 10px 35px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 25px;
  align-items: center;
}

#footer-social {
  justify-self: end;
}

#footer-social > a {
  cursor: pointer;
  color: var(--secondary-purple);
  transition: all 0.2s linear;
  margin: 0 15px;
}

#footer-social > a:last-child {
  margin-right: 0;
}

#footer-social > a:hover,
#footer-social > a:focus-visible {
  filter: drop-shadow(3px 4px 2px black);
  transition: all 0.3s linear;
  outline: 0;
}

#footer-social .fab {
  font-size: 1.6rem;
  padding: 5px;
}

#footer-divider {
  width: 3px;
  height: 100%;
  background-color: var(--secondary-purple);
}

#footer-txt {
  font-size: 12px;
  color: #c4c4c4;
}

@media screen and (max-width: 630px) {
  #footer-divider {
    display: none;
  }

  footer {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
  }

  #footer-txt {
    order: 1;
    text-align: center;
  }

  #footer-social {
    justify-self: unset;
  }
}