#introduction {
    display: flex;
    margin-bottom: 15px;
    gap: 30px;
    padding: 10px 0;
}

#SWheadshot {
    border-radius: 50%;
    margin: auto;
    width: 200px;
    display: block;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.columns > * {
    border: 3px solid #cfa9e8;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}

.columns > :first-child {
    grid-column-end: span 2;
}

.uline {
    text-decoration: underline;
}

.adjust-list-indent {
    padding-inline-start: 20px;
}

ul#likes, ul#edu-summary, ul#key-skills {
    list-style-type: none;
    padding-inline-start: 10px;
}

ul#likes > li::before {
    content: "\f164";
    font-family: "Font Awesome 5 Free";
    padding-right: 10px;
}
 
ul#edu-summary > li::before {
    content: "\f19d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 10px;
}

ul#key-skills > li::before {
    content: "\f560";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-right: 10px;
}

ul#likes > li:last-child,
ul#edu-summary > li:last-child,
ul#key-skills > li:last-child {
    padding-bottom: 0.2rem;
}

@media screen and (max-width: 770px){
    #introduction {
        flex-direction: column;
        gap: 0;
    }

    .columns {
        grid-template-columns: 1fr;
    }

    .columns > :first-child {
        grid-column-end: unset;
    }
}