#latest-updates {
    border: 3px solid #f3f3f3;
    padding: 0 10px;
    margin: 1rem 0;
}

#latest-updates > h3 {
    font-weight: bold;
    font-size: 1.4rem;
    color: #8600b3;
    margin-bottom: 0;
}

.update {
    text-indent: 25px;
    margin-bottom: 0;
}

.date-stamp {
    text-align: right;
    margin-top: 0;
    margin-bottom: 25px;
}