#login-wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#login-form > div {
    display: flex;
    gap: 5px;
}

#login-form input {
    flex: 1;
}

#login-form > button {
    margin: 0 auto;
}