h1 {
    text-align: center;
    background-color: #e6ccff;
    display: table;
    margin: 10px auto;
    padding: 5px 20px;
    border-radius: 25px;
    text-shadow: 1px 1px 2px gray;
    margin-bottom: 20px;
}

#banner {
    background-color: #8600b3;
    background-image: url("./mosaic-banner.jpg");
    background-size: cover;
    background-blend-mode: darken;
    position: sticky; 
    top: 0px;
    z-index: 10;
    padding: 15px 0;
}

#navbar-grid {
    display: flex;
    flex-direction: column;
}

#nav-btns-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.hamburger {
    display: none;
    background-color: #cfa9e8;
    color: #e8e8e8;
    padding: 0.5rem 0;
    width: calc(6.125rem + 3px);
    text-align: center;
    float: left;
    font-size: 2.2rem;
    cursor: pointer;
}
  
.open-hamburger {
    background-color: #e6ccff;
    color: black;
}
  
.topnav {
    background-color: #e6ccff;
    margin: 5px;
    padding: 8px;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Merriweather', serif;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    min-width: 95px;
    box-shadow: inset 5px 5px 2px rgba(255, 255, 255, 0.6), inset -5px -5px 2px rgba(255, 255, 255, 0.6);
    transition: all 0.2s;
}
  
.topnav:link {
    color: black;
}
  
.topnav:visited {
    color: black;
}
  
.topnav:active {
    color: red;
}
  
.topnav:hover {
    background-color: #ffbf80;
    box-shadow: none;
    outline: 3px solid rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 900px){
    h1 {
        margin-bottom: 10px;
    }

    .hamburger {
        display: block;
    }

    #navbar-grid {
        top: 1.2rem;
        position: absolute;
        z-index: 10;
    }

    #nav-btns-wrapper {
        flex-direction: column;
        row-gap: 8px;
        margin: 0;
        background-color: #cfa9e8;
        padding: 5px 0;
        display: none;
    }

    #nav-btns-wrapper.responsive {
        display: flex;
    }

    .topnav {
        margin: 0 3px;
        width: 5rem;
        display: inline-block;
        background-color: #9099ef;
        box-shadow: none;
    }

    .topnav:hover {
        background-color: #ffbf80;
        box-shadow: none;
    }
}

@media screen and (max-width: 460px){
    h1 {
        margin-left: 7rem;
    }
}

@media screen and (max-width: 350px){
    h1 {
        width: min-content;
    }

    #navbar-grid {
        top: 2.2rem;
    }
}