.portfolio-section {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1px 15px 20px;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.5);
    margin: 1.5rem 0;
}

.portfolio-section > p {
    padding: 0 5px;
}

div.portfolio-items {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(auto, 330px));
    gap: 20px;
    margin: 0 16px;
}

div.portfolio-items > div {
    padding: 0 20px 10px;
    background-color: #aebfff;
    border-radius: 10px;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

h4.item-title {
    text-align: center;
    text-decoration: underline;
}

p.item-description {
    margin-top: 0;
    font-size: 0.9rem;
}

.portfolio-img-container {
    margin-bottom: 15px;
    flex: 1;
    display: grid;
    align-content: center;
}

.portfolio-img-container > img {
    max-width: 100%;
    min-height: 180px;
}

.item-links {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.btn-base {
    font-size: 14px;
    padding: 4px 8px;
    cursor: pointer;
    background-color: #b3b3b3;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid;
    filter: brightness(120%);
}

.btn-base:hover {
    filter: brightness(140%);
}  

.code-btn {
    color: #4c0b64;
}

.demo-btn {
    color: #1e3b59;
}

@media screen and (max-width: 850px){
    div.portfolio-items {
        grid-template-columns: repeat(auto-fit, minmax(auto, 450px));
    }
}

@media screen and (max-width: 480px){
    div.portfolio-items {
        margin: 0;
    }
}