#employment, #education, #awards {
    scroll-margin-top: 20px;
    text-align: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
    width: 60%;
}

/*side navigation bar*/
#resumenav {
    position: fixed; 
    top: 180px; 
    right: 0px;
    display: block;
    margin: 0px;
}

nav#resumenav ul {
    list-style-type: none;
    text-align: center;
    background-color: #6666ff;
    padding: 0px;
    margin: 0px;
}

#rn1, #rn2, #rn3 {
    padding: 10px;
    border: black solid 1px;
    outline: black solid 1px;
    margin-bottom: 0;
}

#rn1:hover, #rn2:hover, #rn3:hover {
    background-color:  #ffbf80;
    box-shadow: 4px 4px black;
}

.highlight {
    background-color: #FFBF80;
    filter: invert(1);
}

li.highlight:hover {
    background-color:  #ffbf80;
    box-shadow: 4px 4px black;
    filter: invert(0);
}

.reslink {
    color: black;
    text-decoration: none;
}
/*--------------------------------------*/

#bottom {
    position: relative;
    bottom: 0px;
}

#educolumns {
    display: grid;
    grid-template-columns: 65% 35%;
    row-gap: 15px;
}

.educol1 {
    margin-top: 0px;
    margin-right: 100px;
}

img.resGallery {
    width: 200px;
    height: 150px;
}

img.resGallery:hover {
    box-shadow: 0px 8px 16px 0px black;
    border-radius: 1.5em;
    cursor: pointer;
}

#employment-section > div,
#awards-section > div {
    margin-bottom: 25px;
}

@media screen and (max-width: 900px){
    #resumenav {
        top: 110px;
    }
}

@media screen and (max-width: 770px){
    #educolumns {
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    img.resGallery {
        margin-bottom: 25px;
    }

    .educol1 {
        margin-right: 50px;
    }
}

@media screen and (max-width: 480px){
    .educol1 {
        margin-right: 0;
    }

    #resumenav {
        transform: scale(0.7);
        transform-origin: top right;
    }
}

@media screen and (max-width: 350px){
    #resumenav {
        z-index: 20;
    }
}