/*Home page*/
div.card-body {
  text-align: center;
}

div.card-footer {
  display: flex;
  justify-content: center;
}

/*About page*/
figure#sample-code {
  margin: 0 8%;
}

/*Submissions page*/
table#submissions {
  margin-top: 1rem;
  border-collapse: collapse;
}

tbody > tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

tbody > tr:first-child {
  border-top: 3px solid black;
}

tbody > tr:last-child {
  border-bottom: none;
}

th, td {
  border-left: 1px solid black;
}

th:first-child, td:first-child {
  border-left: none;
}

td {
  padding: 10px;
}

#submissions td:first-child {
  width: 20%;
  padding-right: 2rem;
}

#submissions td:last-child {
  width: 25%;
}

/*Admin -- Manage Portfolio panel*/
.form-text-field {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
}

.form-text-field input[type=text] {
  flex: 1;
}
