/*Global styles*/

:root {
  --primary-purple: #8600b3;
  --secondary-purple: #e6ccff;
}

html, body {
  margin: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./styles/mosaic-banner.jpg);
  background-size: contain;
}

sup {
  font-style: italic;
}

div#root {
  overflow: hidden;
  position: relative;
}

main {
  margin: 0 3vw;
  padding: 5px 25px;
  background-color:  #e6ccff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.7rem;
}

h3 {
  font-size: 1.2rem;
}

h3.resume-h3 {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: underline;
}

h3.about-h3 {
  margin: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: inline-block;
  min-width: 13.1rem;
}

p, figcaption {
  line-height: 1.5;
  word-spacing: 5px;
}

p {
  font-family: 'Merriweather', serif;
}

ul {
  line-height: 1.3;
}

li {
  margin-bottom: 0.8rem;
  word-spacing: 3px;
}

nav {
  text-align: center;
}

hr {
  border: 1px solid black;
  width: 40%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.alert {
  color: #e2e2e2;
  background-color: darkred;
  width: fit-content;
  margin-bottom: 1rem;
  padding: 10px 5px;
}

.hidden {
  display: none !important;
}

.stylish-submit {
  font-size: 14px;
  padding: 4px 8px;
  color: white;
  border-color: gray;
  background: radial-gradient(#999, #4d4d4d);
  cursor: pointer;
}

.stylish-submit:hover {
  filter: sepia(100%);
}

.matrix-btn {
  font-size: 14px;
  padding: 4px 8px;
  color: #165016;
  cursor: pointer;
  background-color: #b3b3b3;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid;
}

.matrix-btn:hover {
  filter: brightness(140%);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading--education {
  grid-column: 1 / -1;
}

.block-center {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 770px){
  main {
    padding: 5px 15px;
  }
}