/*Table of Contents
    > Admin panel
        >Manage Portfolio panel
        >Manage Resume Panel
*/

#createUser-form {
    align-self: center;
    z-index: 10;
}

/*Admin Panel*/

#admin-page {
    min-height: 400px;
}

#admin-nav {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

#admin-nav > div {
    background-color: white;
    border-right: 2px solid teal;
    color: teal;
    cursor: pointer;
    box-shadow: inset 0 0 5px 5px rgba(0, 128, 128, 0.6);
}

#admin-nav > div:last-child {
    border-right: none;
}

#admin-nav > div:hover,
#admin-nav > div.active-panel {
    box-shadow: inset 0 0 8px 8px rgba(0, 0, 128, 0.6);
    color: navy;
}

#admin-panel {
    padding-top: 1px;
    padding-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 300px;
}

    /*Manage Portfolio panel*/

.add-form {
    margin: 0 2rem;
    padding: 0 10px 10px 10px;
    border: 1px solid;
    display: flex;
    justify-content: center;
}

table#portfolio-sections,
table#portfolio-items,
table#employment-items,
table#education-items,
table#award-items {
    margin: 2rem auto 0 auto;
    border-collapse: collapse;
}

table#portfolio-items th:nth-child(2),
table#portfolio-items td:nth-child(2) {
    max-width: 30rem;
}

table#portfolio-items th:first-child,
table#portfolio-items td:first-child {
    max-width: 20rem;
}

table#portfolio-items th:last-child,
table#portfolio-items td:last-child,
table#employment-items th:last-child,
table#employment-items td:last-child,
table#education-items th:last-child,
table#education-items td:last-child,
table#award-items th:last-child,
table#award-items td:last-child {
    white-space: nowrap;
}

#edit-PF-section-modal,
#edit-PF-item-modal,
#edit-empItem-modal,
#edit-eduItem-modal,
#edit-award-modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
}

#edit-PF-item-modal > .PF-modal-content {
    padding: 0 1rem 1rem 1rem;
}

.PF-modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    background-color: white;
    padding-bottom: 1rem;
}

    /*Manage Resume Panel*/

.resume-accordion {
    width: 96%;
    margin: 0 auto;
    display: block;
}

.panel-drawer {
    width: calc(96% - 30px);
    display: block;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 0.4);
    border: 5px solid #cecece;
    padding: 10px;
}

.fa-edit {
    background-color: white;
    padding: 5px;
    color: #8600b3;
    cursor: pointer;
}

.fa-edit:hover {
    background-color: #8600b3;
    color: white;
}

.fa-trash-alt {
    background-color: white;
    padding: 5px 8px;
    cursor: pointer;
    color: darkred;
}

.fa-trash-alt:hover {
    color: red;
}

#edit-empItem-modal > .emp-modal-content,
#edit-eduItem-modal > .edu-modal-content,
#edit-award-modal > .award-modal-content {
    padding: 0 1rem 1rem 1rem;
}

.emp-modal-content,
.edu-modal-content,
.award-modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    background-color: white;
}